body  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    position: relative;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#pokeball {
    width: 20vh;
    left: 10rem;
    top: 100px;
    position: absolute;
    
}

.inputAndButtpnSection {
    width: 400px;
    height: 200px;
    right: 0;
    top: 0;
    background-color: white;
    position: absolute;
}

.btn {
    
}